/* Google Fonts */

html {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.hero.is-info {
  background-color: #0B2531;
  color: #fff;
}

.button.is-primary {
  background-color: #E58946;
  border-color: transparent;
  color: #fff;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
  background-color: #E58946;
  border-color: transparent;
  color: #fff;