.hero.is-info {
    background-color: rgb(60,88, 109);
    color: #fff;
}

.button.is-primary {
    background-color: #E58946;
    border-color: transparent;
    color: #fff;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #E58946;
    border-color: transparent;
    color: #fff;
}